<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar admin-navbar navbar-expand bg-white">
    <div class="container-fluid px-3 px-lg-4">
        <button class="sidebar-toggle" type="button" data-sidebar-toggle
            aria-controls="adminSidebar" aria-expanded="true">
            <span></span><span></span><span></span>
        </button>
        <div class="navbar-actions ms-auto">
            <div class="dropdown">
                <button class="profile-button dropdown-toggle" type="button"
                    data-bs-toggle="dropdown">
                    <img class="avatar-img avatar-sm" th:src="@{/assets/images/avatar/avatar.jpg}" alt="Admin">
                    <span class="profile-name d-none d-sm-inline">Admin</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
</body>
</html>